{% extends 'base.html' %}
{% block content %}

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Compare It!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-large">Do it »</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <div class="thumbnail">
        <h2>Latest</h2>
          <p>1 VS 2 VS 4</p>
          <p><a class="btn" href="#">More »</a></p>
      </div>
    </div>
    <div class="span4">
      <h2>Most Popular</h2>
      <p>1 VS 2 VS 4</p>
      <p><a class="btn" href="#">More »</a></p>
   </div>
    <div class="span4">
      <h2>Most Discussed</h2>
      <p>1 VS 2 VS 4</p>
      <p><a class="btn" href="#">More »</a></p>
    </div>
  </div>
{% endblock %}